:root{
    --main-font:'Roboto', sans-serif;
    --font-family-logo:'Raleway', sans-serif;
    --accent-color:#404BBF;
    --contact-color: #434455;
    --button-font-color: #FFFFFF;
    --subtitle-color:#2E2F42;
    --fill-text-color:#F4F4FD;
    --color-different-style:#4D5AE5;
}
/*скидання початкових відступів*/
h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}
ol,ul{
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
/*----------------------------------------------*/

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

body{
font-family: var(--main-font);
font-weight: 400;
color:var(--contact-color);
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.page-header-container{
    display: flex; 
    align-items: center;  
    justify-content: space-between;
}
.page-nav{
    display: flex;
    align-items: center;

}
.menu{
    display: flex;
}
.addr{
    display: flex;
}
.menu-item:not(:last-child){
    margin-right: 40px;
}
.page-header{
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}
.employees{
    display: flex; 
    flex-wrap: wrap;
    gap: 24px;
}
.employees-ca {
    flex-basis: calc((100%-72px)/4);
}
.employees-card {
    flex-basis: calc((100%-48px)/3);
}
.employees-section{
background-color: var(--fill-text-color);
}
.employees-card-content-wraper{
 border: 1px solid #ccc;   
 border-top: none;
padding-top: 32px;
padding-bottom: 32px;
width:264px;
}
.employees-card-content-wra {
    border: 1px solid #ccc;
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 360px;
}
.employees-photo{

}
.section{
padding-top: 120px;
padding-bottom: 120px;
}
.but{
    display: flex;
    margin-bottom: 72px;
}
.footer-indent{
 padding-top: 101.5px; 
 padding-bottom: 100px;  
}
.first-section{
    display: flex;
    margin-right: 24px;
}
.block-indent{
    padding-top: 120px;

}
/*-----------------HEADER----------------------------*/
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contact-phone-number {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-color);
    font-style: normal;
   margin-right: 40px;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--accent-color);
}
/*-----------------/HEADER----------------------------*/
/*-----------------HERO----------------------------*/
.main-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--button-font-color);
}
.suptitle-theme-dark{
color:var(--contact-color);
}
.suptitle-theme-light{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--fill-text-color);
        margin-top: 17.5px;
}
/*-----------------/HERO----------------------------*/

/*-----------------COMPONENTS----------------------------*/
.modal-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--button-font-color);
    background-color: var(--color-different-style);
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color:var(--accent-color);
}

.hero-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contact-color);
}

.suptitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--subtitle-color);
    margin-bottom: 72px;
}
.the-third-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:var(--subtitle-color);
        margin-bottom: 8px;
}
.button-color-first{
color: var(--button-font-color);
background-color:var(--accent-color);
}
.logo{
    font-family: var(--font-family-logo);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-different-style);
        margin-right: 76px;
        
}
.logo-style{
    color: var(--subtitle-color);
}
.basement-style-logo{
    color:var(--fill-text-color);
}
.hero{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--button-font-color);
        background-color: var(--subtitle-color);
}
.footer-style{
  background-color: var(--subtitle-color);  
}
.course-cleaning{
    font-style: normal;
}
.two-buttons{
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
        border-radius: 4px;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
        color:var(--color-different-style);
        cursor: pointer;
        background-color: var(--fill-text-color);
        margin-right: 24px;
}
.two-buttons:hover,
.two-buttons:focus{
color: var(--button-font-color);
background-color: var(--accent-color);
}
/*-----------------/COMPONENTS----------------------------*/